<div>
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" (keyup)="cambiarNombre($event.target.value)">
  </div>

  <div>
    <label for="apellidos">Apellidos</label>
    <input type="text" name="apellidos" (keyup)="cambiarApellidos($event.target.value)">
  </div>

  <div>
    <label for="fecha">Fecha</label>
    <input type="text" name="fecha" placeholder="dd/MM/yyyy" (change)="cambiarFecha($event.target.value)">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" (change)="cambiarEmail($event.target.value)">
  </div>

  <div>
    <label for="foto">Foto</label>
    <input type="file" name="foto">
  </div>

  <div>
    <label for="skills">Aptitudes</label>
    <input type="text" name="skills" #skills>
    <button (click)="addSkill(skills.value)">+</button>
    <button id="remove" (click)="removeSkill()">-</button>
  </div>
</div>